brotli
dash
dash-core-components
dash-html-components
dash-table
dash-tools
flask
flask-compress
flask-failsafe
geopandas
importlib-metadata
itsdangerous
jinja2
markupsafe
numpy
pandas
plotly
python-dateutil
pytz
six
scikit-learn
tenacity
werkzeug
zipp
