brotli
click
colorama
dash
dash-core-components
dash-html-components
dash-table
flask
flask-compress
flask-failsafe
importlib-metadata
itsdangerous
jinja2
markupsafe
numpy
pandas
plotly
python-dateutil
pytz
six
tenacity
werkzeug
zipp
